{% load staticfiles %}
<!doctype html>
<html>
<head>
	<title>{% block head_title %}{% endblock head_title %}</title>
	<link rel="stylesheet" href='{% static "bootstrap/css/bootstrap.min.css" %}'/>
	<link rel="stylesheet" href='{% static "css/base.css" %}'/>
	<style>{% block style %}{% endblock style %}</style>
</head>
<body>
	{% include "messages.html" %}
	<div class="container-fluid">
	{% block content %}

	{% endblock content %}
	</div>
	<link rel="stylesheet" href='{% static "bootstrap/js/bootstrap.min.js" %}'/>
</body>
</html>